{ ... } :
{
  users.extraUsers.nixos.openssh.authorizedKeys.keys = [
    "ssh-ed25519 AAAAC3NzaC1lZDI1.... username@tld"
  ];

  networking.wireless = {
    networks = {
      "SSID" = {
        psk = "PASSWORD";
      };
    };
  };
}